{% extends 'layout/_main.html' %}
{% block content %}
<section class="section-balance">
  <div class="container">
    <div class="weather">
      <div class="weather-header">
        <input type="text" class="weather-header__new js-input-search" placeholder="What city ????">
      </div>
      <div class="weather-wrap">
        <div class="loader js-loader"></div>
        <div class="weather-main js-weather-main">
          <div class="u-flex-center">
            <div class="weather-main__city js-weather-main__city">???, ??</div>
            <div class="weather-main__icon-redo js-weather-main__icon-redo">
              <i class="u-ml-10 fas fa-redo-alt"></i>
            </div>
          </div>
          <div class="weather-main__date js-weather-main__date">?? ??? ?? ????</div>
          <div class="weather-main__icon-weather js-icon-weather"
            style="background-image: url('http://openweathermap.org/img/wn/03d@4x.png');">
          </div>
          <div class="weather-main__temp js-weather-main__temp">??? </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}ss
