{% extends 'layout/_main.html' %}
{% block content %}
<section class="section-balance">
  <div class="container">
    <div class="weather">
      <div class="weather-header">
        <input type="text" class="weather-header__new js-input-search" placeholder="What city ????">
      </div>
      <div class="weather-wrap  js-footer">
        <div class="loader js-loader"></div>
        <div class="weather-main js-weather-main">
          <div class="u-flex-center">
            <div class="weather-main__city js-city">???, ??</div> 
            <div class="weather-main__redo js-weather-main__redo">
              <i class="u-ml-10 fas fa-redo-alt"></i>
            </div>
          </div>
          <div class="weather-main__date js-date">?? ??? ?? ????</div>
          <div class="weather-main__icon js-icon"
            style="background-image: url('http://openweathermap.org/img/wn/03d@4x.png');"></div>
          <div class="temp js-temp"></div>
          <div class="temp">
            <div class="temp__item js-temp-mid">??? </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}ss